@model MiniCRM.Web.ViewModels.Notifications.IndexViewModel

<h1 class="text-center">Notifications history</h1>
<hr />
@if (Model.Notifications == null || Model.Notifications.Any())
{
    @foreach (var notification in Model.Notifications)
    {

   
        <div class="bg-gradient-info mt-3">
            <div class="toast-header">

                @if (notification.IsRead == false)
                {
                   
                    <strong class="mr-auto">New</strong>
                }
                else
                {
                 
                    <strong class="mr-auto">Seen</strong>
                }
                <small>
                     <i class="far fa-clock mr-1"></i>@notification.TimeSince
                </small>


                <form asp-controller="Notifications" asp-action="Delete" asp-route-notificationId="@notification.Id" method="post">
                    <button type="submit" class="ml-2 mb-1 close" title="Delete">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </form>
            </div>
            <div class="toast-body text-white row">
                <div class="col-md-10">
                    @notification.Content
                </div>
                <div class="col-md-2">
                    <form asp-area="" asp-controller="Notifications" asp-action="See" method="post" id="deleteForm">
                        @*<input type="text" name="url" value="@notification.Url" hidden />*@
                        <input type="text" name="notificationId" value="@notification.Id" hidden />
                        <button class="btn btn-warning float-right">
                            See
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-info col-md-12 text-center" role="alert">
        You have no notifications.
    </div>
}

<script>
        @if (Model.Notifications.Any())
        {
            @: window.onload = function (event) {
            @: event.preventDefault();
            @: var token = $("#deleteForm input[name=__RequestVerificationToken").val();
            @: $.ajax({
            @:     type: "POST",
            @:     url: "/Notifications/SeeAll",
            @:     headers: { "X-CSRF-TOKEN": token },
            @:     data:
            @:     {
            @:         UserId: "@Model.Notifications?.Select(x => x.UserId).First()"
            @:     }
            @: });
        };
        }

    </script>