@using Microsoft.AspNetCore.Http.Extensions
@model IEnumerable<MiniCRM.Web.ViewModels.Notifications.NotificationViewModel>

@foreach (var notification in Model)
{

    <a href="#" class="dropdown-item" title="View more">
        <p class="col-12">
            <i class="fas fa-envelope mr-2"></i>@notification.Content
            <br />
            <small>
                @notification.TimeSince
            
                    <form asp-area="" asp-controller="Notifications" asp-action="See" asp-route-url="@this.Url" id="asReadForm" method="post">
                        <div class="form-check">
                            <input class="form-check-input small" type="checkbox" name="notificationId" value="@notification.Id" onclick="asReadForm.submit()">
                            <input type="text" name="url" value="@this.Url.ActionContext.HttpContext.Request.GetDisplayUrl()" hidden />
                            <label class="form-check-label small">
                                Mark as read
                            </label>
                        </div>
                    </form>
          
            </small>
        </p>
    </a>
    <div class="dropdown-divider"></div>
}
