@using MiniCRM.Common
@model MiniCRM.Web.ViewModels.Customer.CustomerViewModel;

<div class="card card-primary card-outline">
    <div class="d-flex justify-content-end user">
        <ul class="list-inline">
            @if (this.User.IsInRole(GlobalConstants.OwnerUserRoleName))
            {
                <li class="list-inline-item">
                    <a asp-area="Owners" asp-controller="CustomerManager" asp-action="Edit" asp-route-customerId="@Model.Id" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit" title="Edit customer"></i>
                    </a>
                </li>
            }
            @if (this.User.IsInRole(GlobalConstants.EmployerUserRoleName))
            {
                <li class="list-inline-item">
                    <a asp-area="Employees" asp-controller="Customers" asp-action="Edit" asp-route-customerId="@Model.Id" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit" title="Edit customer"></i>
                    </a>
                </li>
            }
            @if (this.User.IsInRole(GlobalConstants.OwnerUserRoleName))
            {
                <li class="list-inline-item">
                    <form method="post" asp-area="Owners" asp-controller="CustomerManager" asp-action="Delete" asp-route-customerId="@Model.Id">
                        <button class="btn btn-danger  btn-sm" type="submit"> <i class="fas fa-trash" title="Delete customer"></i></button>
                    </form>

                </li>
            }
        </ul>
    </div>
    <div class="card-body">
        @*<div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                     src="https://res.cloudinary.com/dx479nsjv/image/upload/v1611663587/MiniCRM/ProfilePictures/default-profile-picture_cwgvhg.png"
                     alt="User profile picture">
            </div>*@

        <h3 class="profile-username text-center">@Model.FullName</h3>

        <p class="text-muted text-center">@Model.JobTitleName</p>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>Orders</b>
                <a asp-area="Employees" asp-controller="Sales" asp-action="GetOrders" asp-route-fullName="@Model.FullName" asp-route-customerId="@Model.Id" class="float-right" title="View all">@Model.OrdersCount</a>
            </li>
        </ul>
        <div class="card-body">
            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
            <p class="text-muted">@Model.AddressCountry, @Model.AddressCity, @Model.AddressStreet, @Model.AddressZipCode</p>
            <hr>
            <strong><i class="fas fa-phone-alt mr-1"></i> Phone</strong>
            <p class="text-muted">
                @Model.PhoneNumber
            </p>
            <hr>
            <strong><i class="fas fa-at mr-1"></i> Email</strong>
            <p class="text-muted">@Model.Email</p>
            <hr>
            <strong><i class="fas fa-info-circle mr-1"></i> Additional info</strong>
            <p class="text-muted">@Model.AdditionalInfo</p>
        </div>
        <small>Responsible employer: @Model.EmployerFullName</small>
        @if (this.User.IsInRole(GlobalConstants.EmployerUserRoleName))
        {
            <a asp-area="Employees" asp-controller="Sales" asp-action="Create" asp-route-customerId="@Model.Id" class="btn btn-primary btn-block"><b>Add order</b></a>
        }
    </div>
</div>
