@using MiniCRM.Web.Infrastructure
@using Microsoft.AspNetCore.Identity
@using MiniCRM.Data.Models
@using System.Security.Claims
@using MiniCRM.Common

@inject UserManager<ApplicationUser> UserManager

@{
    var profileImageUrl = this.UserManager.GetUserAsync(User).Result.ProfilePictureUrl;


    var fullName = this.UserManager.GetUserAsync(User).Result.FullName;
 
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="https://res.cloudinary.com/dx479nsjv/image/upload/v1611049724/MiniCRM/Crm_Customer_Relationship_Management__Client-512_wogria.webp" alt="MiniCRM Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">MiniCRM</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@profileImageUrl" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="d-block">@fullName</a>
            </div>
            <br/>
        </div>
        

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">

                    <a asp-area="" asp-controller="Home" asp-action="Index"
                       class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy"
                       class="nav-link @Url.MakeActiveClass("home","privacy")">
                        <i class="nav-icon fas fa-lock"></i>
                        <p>
                            Privacy
                        </p>
                    </a>
                </li>
                <li class="nav-item">

                    <a asp-area="" asp-controller="Home" asp-action="ChangePassword"
                       class="nav-link @Url.MakeActiveClass("home","ChangePassword")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Change Pass
                        </p>
                    </a>
                </li>

                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <partial name="_AdministratorNavigation" />
                }
                else if (this.User.IsInRole(GlobalConstants.OwnerUserRoleName))
                {
                    <partial name="_OwnerNavigation" />

                }
                else if (this.User.IsInRole(GlobalConstants.EmployerUserRoleName))
                {
                    <partial name="_EmployerNavigation" />
                }
                else if (this.User.IsInRole(GlobalConstants.CustomerUserRoleName))
                {
                    <partial name="_CustomerNavigation" />
                }
            </ul>


        </nav>
    </div>
</aside>
