@using MiniCRM.Web.Infrastructure
@using System.Security.Claims
<li class="nav-item ">

    <a asp-area="Owners" asp-controller="EmployeesManager" asp-action="Create"
       class="nav-link @Url.MakeActiveClass("employeesManager","create")">
        <i class="nav-icon fas fa-user"></i>
        <p>
            add employer
        </p>
    </a>
</li>
<li class="nav-item ">
    <a asp-area="Owners" asp-controller="EmployeesManager" asp-action="Index"
       class="nav-link @Url.MakeActiveClass("employeesManager","index")">
        <i class="nav-icon fas fa-user"></i>
        <p>
            All Employers
        </p>
    </a>
</li>
<li class="nav-item ">

    <a asp-area="" asp-controller="Products" asp-action="Index"
       class="nav-link @Url.MakeActiveClass("products","index")">
        <i class="nav-icon fas fa-user"></i>
        <p>
            All Products
        </p>
    </a>
</li>
<li class="nav-item ">

    <a asp-area="" asp-controller="Products" asp-action="Create"
       class="nav-link @Url.MakeActiveClass("products","create")">
        <i class="nav-icon fas fa-user"></i>
        <p>
            Add Products
        </p>
    </a>
</li>
@User.FindFirst("CompanyId")