@using System.Linq
@model IList<MiniCRM.Web.ViewModels.Sales.SaleProductCreateModel>

<form id="myForm" method="post">

    @for (int i = 0; i < Model.Count(); i++)
    {
        <label class="form-control">@Model[i].Name</label>
        <input type="hidden" asp-for="@Model[i].Id" />
        <input type="hidden" asp-for="@Model[i].Quantity" />
        <input type="hidden" asp-for="@Model[i].Name" />

        <input class="form-control" asp-for="@Model[i].SaleProductQuantity" />
        <span asp-validation-for="@Model[i].SaleProductQuantity" class="text-danger"></span>
    }
</form>

