@using System.Linq
@model MiniCRM.Web.ViewModels.Sales.SaleCreateModel
@*<form method="post" asp-action="Create">*@

@for (int i = 0; i < Model.Products.Count(); i++)
{
    <label class="form-control">@Model.Products[i].Name</label>
    <input type="hidden" asp-for="@Model.Products[i].Id" />
    <input type="hidden" asp-for="@Model.Products[i].Quantity" />
    <input type="hidden" asp-for="@Model.Products[i].Name" />

    <input class="form-control" asp-for="@Model.Products[i].SaleProductQuantity" />
    <span asp-validation-for="@Model.Products[i].SaleProductQuantity" class="text-danger"></span>
}

<button class="btn btn-primary" id="btnPrevious">Previous</button>

@*<input type="hidden" asp-for="CustomerId" asp-route="@Model" />*@
@*<button type="submit">submit</button>
    </form>*@