@using System.Linq
@model MiniCRM.Web.ViewModels.Sales.SaleCreateModel


@for (int i = 0; i < Model.Products.Count(); i++)
{
    <label class="form-control">@Model.Products[i].Name</label>
    <input type="hidden" asp-for="@Model.Products[i].Id" />
    <input type="hidden" asp-for="@Model.Products[i].Quantity" />

    <input class="form-control" asp-for="@Model.Products[i].SaleProductQuantity" />
    <span asp-validation-for="@Model.Products[i].SaleProductQuantity" class="text-danger"></span>
}
<input type="hidden" asp-for="CustomerId" />